<div class='api-preview'>
  <input type='text' value='<%= url %>' class='url-input'>
  <input type='button' value='Make API request' class='preview-button' />
  <br />
  <pre class='api-output'></pre>
</div>
