<form class="search" action="https://www.google.com/search" method="get">
  <input type="hidden" name="as_sitesearch" value="docs.publishing.service.gov.uk" />
  <input type="text" placeholder="Search (via Google)" name="q" />
</form>
